@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background-light text-text-light antialiased;
  font-family: 'Inter', sans-serif;
}

button,
input,
select,
textarea {
  font-family: 'Inter', sans-serif;
}

::selection {
  @apply bg-primary text-white;
}
